<footer>
    <h3>Hast du Fragen?</h3>
    <div>
        <img class="profile-picture" src="https://nostalgic-shirley-5e2064.netlify.app/assets/img/me.jpg" alt="">
        <img class="profile-picture" src="/img/team/azad.png" alt="">
        <img class="profile-picture" src="/img/team/riquel.jpeg" alt="">
        <img class="profile-picture" src="/img/team/yahya.png" alt="">

    </div>
</footer>