<header>
    <nav>
        <a href="/"><img src="/img/logo3.svg" alt=""></a>
        <ul>
            <li><a href="/newPost">FindSynergy</a></li>
            <li><a href="/profiles">Profiles</a></li>
            <li><a href="/newProject">Projects</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </nav>
</header>