<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <nav>
            <a href="/"><img src="/img/logo3.svg" alt=""></a>
            <ul class="login-ul">
                <li><a href="/auth/google" class="login-with-google-btn">
                    Sign in with Google
                </a></li>
            </ul>
        </nav>
    </header>
    <section id="login">
        <div class="landing-flex">
            <div class="title">
                <h1 class="landing-title">Zusammen können wir mehr!</h1>
                <h2 class="landing-subtitle">Eine Austauschplatform für super(code) Alumni und Teilnehmer</h2>
            </div>
            <div class="landing-img">
                <img src="/img/hands.svg" alt="">
            </div>
        </div>
    </section>
</body>

</html>